{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Donaciones</title>
        <!-- Favicon-->
        {% comment %} <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> {% endcomment %}
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

        <!-- Mis fuentes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static 'css/styles.css' %} rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="first-top-bar"></div>
        <div class="top-bar bg-light">
            <div class="column">
                <a href={% url 'Inicio' %}>
                    <img src={% static "assets/img/logo-conectar.png" %} alt="Logo" height="55px;" />                
                </a>
            </div>
            <div class="column column-donations">
                <a class="anchor red-hat-display-regular" href={% url 'ListaDonaciones' %}>BUSCAR DONACIONES</a>
            </div>
            <div class="column">
                <a class="anchor red-hat-display-regular" href={% url 'CrearEditarDonacion' %}>DONAR</a>
            </div>
            <div class="column-user">
                <a class="anchor red-hat-display-regular" href={% url 'EditarPerfil' %}>{{request.user.username}}</a>
            </div>
            
            {% if request.user.avatar and request.user.avatar.imagen %}
                <div class="column-user-avatar li-imagen">
                    {% with "/static"|add:request.user.avatar.imagen.url as url_avatar %}
                        <img src={{url_avatar}} alt="Avatar" height="50px;" />
                    {% endwith %}
                </div>
            {% endif %}
            
            <div class="column column-mis-donaciones">
                <a class="anchor red-hat-display-regular" href={% url 'ListaMisDonaciones' request.user.id 1 %}>MIS DONACIONES</a>
            </div>
            
            
            {% comment %} <div class="column"><a style="margin-top: -3px;" class="btn btn-primary btn-sm" href={% url 'Inicio' %}>Inicio</a></div> {% endcomment %}
            <div class="column">
                <a class="btn btn-primary btn-sm red-hat-display-regular" href={% url 'Inicio' %}>Inicio</a>
            </div>
        
            {% if not request.user.is_authenticated %}
                <div><a class="column anchor-primary anchor-login red-hat-display-regular" href={% url 'Login' %}>login</a></div>
                <div><a class="column anchor-primary red-hat-display-regular" href={% url 'Registro' %}>registro</a></div>                        
            {% else %}
                <form method="POST" action="{% url 'Logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-link red-hat-display-regular">logout</button>
                </form>
                {% comment %} <div><a class="column anchor-primary red-hat-display-regular" href={% url 'Logout' %}>logout</a></div> {% endcomment %}
            {% endif %}
            
        </div>
        
        <!-- Este es el bloque que se va a cambiar -->
        {% block content %}

            <header class="header"></header>
            
        {% endblock content %}
        
        <!-- Pie de página -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a class="red-hat-display-regular" href="#!">Acerca de mí</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a class="red-hat-display-regular" href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a class="red-hat-display-regular" href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a class="red-hat-display-regular" href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0 red-hat-display-regular">&copy; {% now "Y" %}. Todos los derechos reservados.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src={% static "js/scripts.js" %}></script>
        <!-- Core theme JS-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://cdn.sheetjs.com/xlsx-0.20.0/package/dist/xlsx.full.min.js"></script>
    </body>
</html>

