{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ligas de Fútbol</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

        <!-- Mis fuentes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static 'css/styles.css' %} rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        {% comment %} <nav class="navbar navbar-light bg-light static-top navbarTop"> {% endcomment %}
        <nav class="navbar navbar-dark bg-dark static-top navbarTop">
            <ul id="main">
                <div class="container">
                    {% comment %} <a class="navbar-brand" href={% url 'BuscarJugadoresPorNombre' %}>Buscar</a> {% endcomment %}
                    <li id="jugadoresDespList" class="headerWord headerJugadores">Jugadores
                        <ul class="drop" id="dropJugadores">
                            <div>
                                <li class="headerLi"><a class="anchor-list-item" href={% url 'JugadorFormulario' %}>Crear</a></li>
                                <li class="headerLi"><a class="anchor-list-item" href={% url 'JugadoresTransferibles' %}>Comprar</a></li>
                                {% comment %} <li class="headerLi"><a class="anchor-list-item" href="#">Vender</a></li> {% endcomment %}
                                <li class="headerLi"><a class="navbar-brand anchor-list-item" href={% url 'JugadoresPlantilla' %}>Ver plantilla</a></li>
                            </div>
                        </ul>
                    </li>
                    <li id="dtsDespList" class="headerWord">DT's
                        <ul class="drop" id="dropDts">
                            <div>
                                <li class="headerLi"><a class="anchor-list-item" href={% url 'DTFormulario' %}>Crear</a></li>
                                <li class="headerLi"><a class="anchor-list-item" href="#">Contratar</a></li>
                                <li class="headerLi"><a class="anchor-list-item" href="#">Despedir</a></li>
                            </div>
                        </ul>
                    </li>
                    <li id="clubesDespList" class="headerWord">Clubes
                        <ul class="drop" id="dropClubes">
                            <div>
                                <li class="headerLi"><a class="anchor-list-item" href={% url 'ClubFormulario' %}>Crear</a></li>
                                <li class="headerLi"><a class="anchor-list-item" href="#">Ofrecer</a></li>
                                <li class="headerLi"><a class="anchor-list-item" href="#">Renunciar</a></li>
                            </div>
                        </ul>
                    </li>
                    
                    <li>
                        <a class="userName" href={% url 'EditarPerfil' %}>{{request.user.username}}</a>
                    </li>
                    
                    {% if request.user.avatar and request.user.avatar.imagen %}
                        <li class="li-imagen">
                            {% with "/static"|add:request.user.avatar.imagen.url as url_avatar %}
                                <img style="margin-top: -3px; margin-left: -103px; margin-right: 0;" src={{url_avatar}} alt="Avatar" height="50px;" />
                            {% endwith %}
                        </li>
                    {% endif %}                    
                    
                    <li>
                        <a style="margin-top: -3px;" class="btn btn-primary btn-sm" href={% url 'Inicio' %}>Inicio</a>                        
                    </li>
                    
                    {% if not request.user.is_authenticated %}
                        <li>
                            <a class="anchor-primary" href={% url 'Login' %}>login</a>
                        </li>
                        <li>
                            <a class="anchor-primary" href={% url 'Registro' %}>registro</a>
                        </li>                        
                    {% else %}
                        <a class="anchor-primary" href={% url 'Logout' %}>logout</a>
                    {% endif %}
                </div>                
            </ul>
        </nav>
        
        <!-- Este es el bloque que va a cambiar -->
        {% block content %}

            <header class="header">
            </header>
            
        {% endblock content %}
        
        <!-- Pie de página -->
        <footer class="footer bg- ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">Acerca de mí</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; {% now "Y" %}. Todos los derechos reservados.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src={% static "js/scripts.js" %}></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>

