{% extends 'inicio.html' %}

{% block content %}
  <div class="divPrincipal">
    <h5 style="margin-bottom: 15px;">Jugadores Transferibles</h5>
    
    {% for jugador in jugadores %}
      {% if jugador.transferible == 'si' and jugador.usuario != request.user %}
        <div class="div-jugadores">
          <li>{{jugador}}</li>
          <a class="btn btn-primary btn-xs" href={% url 'VerJugador' jugador.pk 0 %}>Ver</a>
          <a class="btn btn-success btn-xs" href={% url 'OfertarJugador' jugador.pk 0 %}>Ofertar</a>
        </div>
      {% endif %}
    {% endfor %}
    
    {% for jugador in jugadores %}
      {% if jugador.transferible == 'si' and jugador.usuario == request.user %}
        <div class="div-jugadores">
          <li style="color:#6C757D;">{{jugador}}</li>
          <a class="btn btn-xs btn-jugDePlantilla" href={% url 'JugadoresPlantilla' %}>Jugador de la plantilla</a>          
        </div>
      {% endif %}
    {% endfor %}

  </div>
{% endblock %}